<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/" />
            </rewriteMaps>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^wp-admin/includes/" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^wp-includes/[^/]+\.php$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^wp-includes/js/tinymce/langs/.+\.php" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^wp-includes/theme-compat/" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^(.*)image-thumbs/([0-9]+)/([0-9]+)/(.*$)" />
                    <action type="Rewrite" url="/wp-content/themes/branfordmagazine-pro/scripts/tthumb.php?src=http://{R:4}&amp;h={R:2}&amp;w={R:3}&amp;zc=1&amp;q=100" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^index\.php$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="." ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
